@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: #252525;
}
.wrapper{
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #252525;
    border-radius: 10px;
    text-align: center;
}
h1{
    font-size: 2rem;
    color: white;
    margin-bottom: 1.2rem;
}
form input{
    width: 100%;
    outline: none;
    padding: 12px 20px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: .25rem;
    background: white;
    transition: all .1s ease-in-out;
}
button{
    width: 100%;
    outline: none;
    padding: 12px 20px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: white;
    transition: all .1s ease-in-out;
    cursor: pointer;
    background: rgb(0, 123, 255);
}
button:hover{
    background: rgb(0, 123, 255, 0.877);
}
input:focus{
    border: 2px solid rgb(0, 123, 255, 0.877);
}
.terms{
    margin-top: 0.2rem;
}
.terms input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}
.terms label{
    font-size: 0.7rem;
    color: white;
}
.terms a{
    color: rgb(0, 123, 255);
    text-decoration: none;
}
.member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: white;
}
.member a{
    color: rgb(0, 123, 255);
    text-decoration: none;
}